<h1>Stupid Coaching</h1>

<div>
  <h3><%=@question%></h3>
  <h3 class = "question">-you</h3>
</div>
<div style="background-color: yellow">
  <h3><%=@answer%></h3>
  <h3 class = "answer">-your coach</h3>
</div>

<a><%= link_to "ask new question", ask_path %></a>
