// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}


.answer{
  font-style: italic;
}

.question{
  font-style: italic;
}
